$lightGreen: #b9e7e7;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#demo-multiple-chip-label {
    background-color: white;
    z-index: 1;
    padding: 0 8px 0 0 ;
}

.app {

    max-width: 100vw;
    min-height: 100vh;

    .container {
        .link {
            text-decoration: none;
            color: inherit;
        }

        //* Login & Register
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 300px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    border-radius: 5px;
                }

                button {
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                }

                p {
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        //* Navbar
        .navbar {

            width: 90%;
            min-height: 10vh;
            margin: auto;

            border-bottom: 1px dotted rgba(0, 128, 128, 0.5);

            .container {
                width: 80%;
                margin: auto;
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;


                .hamburger {
                    display: none;
                    cursor: pointer;

                    @media screen and (max-width: 768px) {
                        display: block;
                    }
                }

                .logo {
                    img {
                        width: 120px;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }

            }

            @media screen and (max-width: 768px) {
                .container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    gap: 20px;

                    .links {
                        display: none;
                        flex-direction: column;
                        gap: 10px;
                    }


                }

            }
        }

        //* Home

        .home {

            width: 80%;
            margin: auto;

            .posts {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    flex-direction: row-reverse;
                    min-height: 250px;
                    max-height: 700px;
                    gap: 10px;

                    &:nth-child(2n+1) {
                        flex-direction: row;
                    }

                    .img {
                        flex: 2;
                        position: relative;
                        background-color: teal;

                        min-height: 200px;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $lightGreen;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        padding: 10px;


                        @media screen and (max-width: 768px) {
                            border: 1px solid transparent;
                            border-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0)50%, $lightGreen 100%);
                            border-image-slice: 1;
                        }

                        .title-link {
                            text-decoration: none;
                            color: inherit;
                        }

                        h1 {
                            font-size: 38px;
                        }

                        p {
                            display: -webkit-box; // Enable the use of flexbox model with WebKit
                            -webkit-line-clamp: 4; // Number of lines to show before truncating
                            -webkit-box-orient: vertical; // Specifies the box orientation
                            overflow: hidden; // Hide overflow text
                            font-size: 18px;
                            max-width: 95%;
                        }

                        button {
                            width: max-content;
                            padding: 10px 20px;
                            color: teal;
                            border: none;
                            cursor: pointer;
                            background-color: #fff;
                            border: 1px solid teal;
                            border-radius: 5px;

                            &:hover {
                                background-color: $lightGreen;
                                color: white;
                                border: 1px solid white;
                            }

                        }
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        gap: 20px;

                        &:nth-child(2n+1) {
                            flex-direction: column;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    gap: 50px;
                }
            }




        }

        //* Single Post

        .single {


            display: flex;
            flex-wrap: wrap;
            gap: 150px;

            width: 80%;
            margin: auto;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 20px;
            }

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;


                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    background-color: rgba(0, 128, 128, 0.5);
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 30px;
                    font-size: 18px;
                    color: #555;
                }

            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;
                height: 90vh;

                padding: 10px;

                border-left: 1px dotted rgba(0, 128, 128, 0.5);

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 7.5px 15px;
                        color: teal;
                        border: none;
                        cursor: pointer;
                        background-color: #fff;
                        border: 1px solid teal;
                        border-radius: 5px;

                        &:hover {
                            background-color: $lightGreen;
                            color: white;
                            border: 1px solid white;
                        }

                    }
                }
            }
        }

        //* Write

        .add {
            width: 80%;
            margin: auto;
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;
                    border: 1px solid lightgray;
                    border-radius: 5px;
                }

                .editorContainer {
                    height: 300px;
                    overflow: auto;

                    .editor {
                        height: 80%;
                        border-color: lightgray;
                        border-radius: 5px;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    border-radius: 7px;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1 {
                        font-size: 20px;
                        color: #333;
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            cursor: pointer;
                            color: teal;
                            background-color: #fff;
                            border: 1px solid teal;
                            border-radius: 5px;
                            padding: 3px 5px;
                        }

                        :last-child {
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            border-radius: 5px;
                            padding: 3px 5px;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }


            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 20px;

                .menu {
                    
                }
            }
        }

        //* 404 Page

        .notfound {
            display: flex;
        }
    }
}

//* Footer

footer {
    padding: 20px;
    background-color: $lightGreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;

    img {
        height: 50px;
    }
}